# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches and Logs
*.log

# Virtual environment
venv/
env/

# Jupyter Notebook
.ipynb_checkpoints/

# macOS specific
.DS_Store

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo

# Python distributions
dist/
build/
*.egg-info/

# Pytest
.pytest_cache/